asgiref==3.8.1
Brotli==1.1.0
cffi==1.17.1
channels==4.2.0
chardet==5.2.0
cssselect2==0.8.0
Django==5.1.7
django-mathfilters==1.0.0
fonttools==4.56.0
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
reportlab==4.3.1
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.1
weasyprint==65.0
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.2.3.post1