{% extends "base.html" %}
{% block content %}


  
          <div class="card-header">
            <h4>Ajouter un  nouveau fournisseur</h4>
          </div>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn" style="background-color: #99ccff; border-color: #99ccff;">Ajouter</button>
            </form>

            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Erreur dans le formulaire :</strong>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
{% endblock %}
